<ion-header>

  <ion-navbar>
    <ion-title>Create your own Resolution</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="picture-container">
    <img class="picture-click resolution-image" src="{{iconUrl}}" (click)="changeResolutionPicture()">
  </div>
  <p>Click image to change it</p>

  <br/>
  <form class="align-center" [formGroup]="createResolutionForm">
    <ion-item>
      <ion-label>Resolution name</ion-label>
      <ion-input type="text" formControlName="resolutionName"
        [(ngModel)]="resolutionName"
        [class.invalid]="!createResolutionForm.controls.resolutionName.valid"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!createResolutionForm.controls.name.valid">
      <p>The resolution name must at least be 3 characters long</p>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <!--TODO ion toggle-->
      <ion-toggle formControlName="resolutionType">
        <ion-option>Recurring resolution</ion-option>
        <ion-option>Single resolution</ion-option>
      </ion-toggle>
    </ion-item>


    <div [disabled]="createResolutionForm.controls.name.valid" class="bottom-container">
      <button class="button-width" ion-button round icon-left outline (click)="createResolution()">
        CREATE RESOLUTION
      </button>
    </div>
  </form>


</ion-content>
