<ion-header>

  <ion-navbar>
    <ion-title>Create your own Resolution</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1></h1>


    <div class="picture-container">
      <img src='assets/images/running-icon.jpg'(click)="changeResolutionPicture()">
    </div>


    <form [formGroup]="resolution" (ngSubmit)="createResolution()">
      <ion-item>
        <ion-label>Resolution Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select formControlName="type" okText="Okay" cancelText="Dismiss">
          <ion-option>Recurring Activity</ion-option>
          <ion-option>Single Activity</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Picture</ion-label>
        <ion-input type="text" formControlName="imageUrl"></ion-input>
      </ion-item>


      <button ion-button type="submit">Submit</button>
    </form>


</ion-content>
