<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sign up
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form class="center-form" [formGroup]="signupForm" (submit)="signupUser()" novalidate>


    <ion-item>
      <ion-label stacked>E-Mail</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)" placeholder="Your email address"
        [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email address.</p>
    </ion-item>

    <div [formGroup]="passwordGroup">
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)" placeholder="Your safe password"
          [class.invalid]="!passwordGroup.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!passwordGroup.controls.password.valid  && (passwordChanged || submitAttempt)">
        <p>Your password must at least be 6 characters long.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Confirm password</ion-label>
        <ion-input #passwordConfirm formControlName="passwordConfirm" type="password" (change)="elementChanged(passwordConfirm)"
          placeholder="Confirm your password" [class.invalid]="!passwordGroup.valid && (passwordConfirmChanged || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!passwordGroup.valid  && passwordGroup._errors && !signupForm.controls.passwords.controls.passwordConfirm._errors &&
                                              (passwordConfirmChanged || passwordChanged || submitAttempt)">
        <p>Passwords do not match.</p>
      </ion-item>
      <ion-item class="error-message" *ngIf="!passwordGroup.valid  && signupForm.controls.passwords.controls.passwordConfirm._errors && (passwordConfirmChanged || submitAttempt)">
        <p>Please confirm your password.</p>
      </ion-item>
    </div>

    <br>
    <button ion-button round outline type="submit">
      Sign Up
    </button>
  </form>
</ion-content>
