<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<span *ngFor="let activity of utilities.getResolutions()">-->
    <!--<button ion-button class="img-activity" (click)="goToPage(activity)">-->
    <!--{{activity.name}}-->
    <!--<span *ngIf="activity.isDone == true">-->
    <!--<ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>-->
    <!--</span>-->
    <!--</button>-->
    <!--<div class="progress">-->
      <!--<span *ngFor="let item of activity.activeDays; let i = index;">-->
        <!--<div *ngIf="item == 0" class="progress-bar default-background" role="progressbar" style="width:0.275%"></div>-->
        <!--<div *ngIf="item == 1" class="progress-bar green-background" role="progressbar" style="width:0.275%"></div>-->
      <!--</span>-->
    <!--</div>-->
  <!--</span>-->
  <ion-list>
    <div *ngFor="let activity of utilities.getResolutions()">
      <ion-item>
        {{activity.name}}
        <div class="progress">
          <span *ngFor="let item of activity.activeDays; let i = index;">
            <div *ngIf="item == 0" class="progress-bar default-background" role="progressbar"
                 style="width:0.275%"></div>
            <div *ngIf="item == 1" class="progress-bar green-background" role="progressbar" style="width:0.275%"></div>
          </span>
        </div>
      </ion-item>
    </div>
  </ion-list>
  <!--<div class="container">-->
  <!--<div class="progress">-->
  <!--<span *ngFor="let item of daysInYear; let i = index;">-->
  <!--<div *ngIf="item == 0" class="progress-bar default-background" role="progressbar" style="width:0.275%"></div>-->
  <!--<div *ngIf="item == 1" class="progress-bar green-background" role="progressbar" style="width:0.275%"></div>-->
  <!--</span>-->
  <!--</div>-->
  <!--</div>-->

  <ion-fab right bottom>
    <button ion-fab icon-only (click)="goToPageManageResolutions()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
