<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span *ngFor="let activity of utilities.getResolutions()">
    <span *ngIf="activity.isActive == true">
      <button ion-button class="img-activity" (click)="goToPage(activity.name)">
        {{activity.name}}
        <span *ngIf="activity.isDone == true"> 
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
        </span>
      </button>
    </span>
  </span>
  <ion-fab right bottom>
    <button ion-fab icon-only (click)="goToPageManageResolutions()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>