<ion-header>
  <ion-navbar hideBackButton="true">
    <!--<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-title item-center>My Resolutions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="recurrance">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="recurring">
        Recurring
      </ion-segment-button>
      <ion-segment-button value="once">
        Once
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="recurrance">
    <ion-list *ngSwitchCase="'all'">
      <div class="no-data-label" *ngIf="resolutionProvider.activeResolutions.length === 0">No resolution currently selected</div>
      <div *ngFor="let resolution of resolutionProvider.activeResolutions">
        <ion-item class="less-label-margin" (click)="goToPage($event, resolution)">
          <div class="item-left">
            <img src="{{resolution.iconUrl}}" class="resolution-list-icon" />
          </div>

          <button [disabled]="true" *ngIf="resolution.isRecurring && (today == resolution.lastActivity)" class="resolution-list-button"
            ion-button icon-end round outline color="secondary">
            DONE TODAY
            <ion-icon class="resolution-list-button-icon" name="checkmark"></ion-icon>
          </button>
          <button [disabled]="false" *ngIf="resolution.isRecurring && (today != resolution.lastActivity)" class="resolution-list-button"
            ion-button icon-end round outline color="secondary" (click)="doneResolutionToday($event, resolution)">
            DONE TODAY
            <ion-icon class="resolution-list-button-icon" name="checkmark"></ion-icon>
          </button>

          <button [disabled]="resolution.isDone" *ngIf="!resolution.isRecurring" class="resolution-list-button" ion-button icon-end
            round outline color="secondary" (click)="doneSingleResolution($event, resolution)">
            DONE
            <ion-icon class="resolution-list-button-icon" name="checkmark"></ion-icon>
          </button>
          <div class="item-right">
            <div class="resolution-list-name">{{resolution.name}}</div>
            <div *ngIf="resolution.isRecurring">Last activity: {{resolution.lastActivity | date}}</div>
            <div class="resolution-list-done" *ngIf="!resolution.isRecurring && resolution.isDone">- DONE -</div>
            <div class="resolution-list-not-done" *ngIf="!resolution.isRecurring && !resolution.isDone">- NOT DONE -</div>
          </div>
          <div *ngIf="resolution.isRecurring" class="progress">
            <span *ngFor="let item of resolution.activeDays; let i = index;">
              <div *ngIf="item == 0" class="progress-bar default-background" role="progressbar"
                   style="width:0.275%"></div>
              <div *ngIf="item == 1" class="progress-bar green-background" role="progressbar"
                   style="width:0.275%"></div>
            </span>
          </div>
          <div *ngIf="resolution.isRecurring" class="datum-range">
            01.01.2017
            <span class="datum-range-end">31.12.2017</span>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <div [ngSwitch]="recurrance">
    <ion-list *ngSwitchCase="'recurring'">
      <div class="no-data-label" *ngIf="resolutionProvider.noRecurringResolutions">No recurring resolution currently selected</div>
      <div *ngFor="let resolution of resolutionProvider.activeResolutions">
        <ion-item class="less-label-margin" *ngIf="resolution.isRecurring" (click)="goToPage($event, resolution)">
          <div class="item-left">
            <img src="{{resolution.iconUrl}}" class="resolution-list-icon" />
          </div>

          <button [disabled]="true" *ngIf="resolution.isRecurring && (today == resolution.lastActivity)" class="resolution-list-button"
            ion-button icon-end round outline color="secondary">
            DONE TODAY
            <ion-icon class="resolution-list-button-icon" name="checkmark"></ion-icon>
          </button>
          <button [disabled]="false" *ngIf="resolution.isRecurring && (today != resolution.lastActivity)" class="resolution-list-button"
            ion-button icon-end round outline color="secondary" (click)="doneResolutionToday($event, resolution)">
            DONE TODAY
            <ion-icon class="resolution-list-button-icon" name="checkmark"></ion-icon>
          </button>

          <div class="item-right">
            <div class="resolution-list-name">{{resolution.name}}</div>
            <div>Last activity: {{resolution.lastActivity | date}}</div>
          </div>
          <div class="progress">
            <span *ngFor="let item of resolution.activeDays; let i = index;">
              <div *ngIf="item == false || item == undefined || item == null" class="progress-bar default-background" role="progressbar"
                   style="width:0.275%"></div>
              <div *ngIf="item == true" class="progress-bar green-background" role="progressbar"
                   style="width:0.275%"></div>
            </span>
          </div>
          <div class="datum-range">
            01.01.{{currentYear}}
            <span class="datum-range-end">31.12.{{currentYear}}</span>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <div [ngSwitch]="recurrance">
    <ion-list *ngSwitchCase="'once'">
      <div class="no-data-label" *ngIf="resolutionProvider.noSingleResolutions">No single resolution currently selected</div>
      <div *ngFor="let resolution of resolutionProvider.activeResolutions">
        <ion-item class="less-label-margin" *ngIf="!resolution.isRecurring" (click)="goToPage($event, resolution)">
          <div class="item-left">
            <img src="{{resolution.iconUrl}}" class="resolution-list-icon" />
          </div>
          <button [disabled]="resolution.isDone" class="resolution-list-button" ion-button icon-end round outline color="secondary"
            (click)="doneSingleResolution($event, resolution)">
            DONE
            <ion-icon class="resolution-list-button-icon" name="checkmark"></ion-icon>
          </button>
          <div class="item-right">
            <div class="resolution-list-name">{{resolution.name}}</div>
            <div class="resolution-list-done" *ngIf="resolution.isDone">- DONE -</div>
            <div class="resolution-list-not-done" *ngIf="!resolution.isDone">- NOT DONE -</div>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <ion-fab right bottom>
    <button ion-fab icon-only (click)="goToPageManageResolutions()">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
