<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only (click)="popPage()" clear>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Resolution Management</ion-title>
    <!--<ion-buttons right>
      <button ion-button (click)="testPush()" clear>
        Test Pushnotification
      </button>
      <button ion-button (click)="testReminder()" clear>
        Test Reminder
      </button>
      <button ion-button (click)="testCancel()" clear>
        Test Cancel
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="selection">
      <ion-segment-button value="preconfigured">
        Preconfigured
      </ion-segment-button>
      <ion-segment-button value="custom">
        Custom
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="selection">
    <ion-list *ngSwitchCase="'preconfigured'">
      <div *ngFor="let resolution of resolutionProvider.allResolutions">
        <div *ngIf="resolution.isPreconfigured == true">
          <ion-item class="less-label-margin">
            <div item-left>
              <img src="{{resolution.iconUrl}}" class="resolution-list-icon" />
            </div>
            <div>
              {{resolution.name}}
            </div>
            <div item-right *ngIf="isActive(resolution) == false">
              <button color="secondary" class="listButton" ion-button round outline icon-only item-right (click)="addToActiveResolutions(resolution)">
                <ion-icon name="add"></ion-icon>
              </button>
            </div>
            <div item-right *ngIf="isActive(resolution) == true">
              <button color="danger" class="listButton" ion-button round outline icon-only item-right (click)="showRemovalConfirmationAlert(resolution)">
                  <ion-icon name="remove"></ion-icon>
                </button>
            </div>
          </ion-item>
        </div>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'custom'">
      <div *ngFor="let resolution of resolutionProvider.allResolutions">
        <div *ngIf="resolution.isPreconfigured == false">
          <ion-item class="less-label-margin">
            <div item-left>
              <img src="{{resolution.iconUrl}}" class="resolution-list-icon" />
            </div>
            <div>
              {{resolution.name}}
            </div>
            <div item-right *ngIf="isActive(resolution) == false">
              <button color="secondary" class="listButton" ion-button round outline icon-only item-right (click)="addToActiveResolutions(resolution)">
                <ion-icon name="add"></ion-icon>
              </button>
            </div>
            <div item-right *ngIf="isActive(resolution) == true">
              <button color="danger" class="listButton" ion-button round outline icon-only item-right (click)="showRemovalConfirmationAlert(resolution)">
                <ion-icon name="remove"></ion-icon>
              </button>
            </div>
            <button class="listButton" ion-button round outline icon-only item-right>
              <ion-icon name="md-create"></ion-icon>
            </button>
          </ion-item>
        </div>
      </div>
      <ion-fab right bottom>
        <button ion-fab icon-only (click)="openWindowCreateResolution()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    </ion-list>
  </div>
</ion-content>
